shiny
requests
langchain
langchain-community
openai
chromadb
unstructured
python-docx
pypdf
pytesseract
beautifulsoup4
pdfminer.six
pillow-heif
matplotlib
unstructured-inference
unstructured-pytesseract
unstructured[pdf]
python-pptx
tiktoken
langchain-anthropic
langchain-openai
sentence-transformers
huggingface-hub
langchain-huggingface
pi-heif
rsconnect-python